{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}

	<div class='container-fluid mt-4'>
		<h1>Gérer les biens</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		<table class='table table-striped'>
			<thead>
				<tr>
					<th class='text-start'>Titre</th>
					<th class='text-center'>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for property in properties %}
					<tr>
						<td>{{ property.title }}</td>
						<td class='d-flex flex-row justify-content-end'>
							<a href='{{ path('admin.property.edit', {id: property.id}) }}' class='btn btn-secondary mx-3'>Editer</a>
							<form method="POST" action="{{ path("admin.property.delete", {id: property.id}) }}" onsubmit="return confirm('Etes vous vraiment sûr ?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('delete' ~ property.id) }}">
								<button class="btn btn-danger mx-3">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-end">
			<a href="{{ path('admin.property.new') }}" class="btn btn-primary">Nouveau Bien</a>
		</div>

	</div>

{% endblock %}
