<div class="card mb-4" style="height: 20rem;">
{# {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %} #}
{% if property.image %}
	<img
	src='{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('my_thumb')}}' class='card-img-top' style='width: 100%; height: 50%;'>
	{# <img src="/images/properties/{{ property.image | imagine_filter('my_thumb')}}" > #}
{% else %}
	<img src='{{ '/images/properties/Empty.jpg' | imagine_filter('my_thumb')}}' class='card-img-top' style='width: 100%; height: 50%;'>
{% endif %}

	<div class="card-body">
		<h5 class="card-title">
			<a href='{{ path('property.show', {id: property.id, slug: property.slug}) }}'>
				{{ property.title }}
			</a>
		</h5>
		<p class="card-text">
			{# {{ property.description | nl2br}} #}
			{{ property.surface }} m² - 
			{{ property.city }}
			({{property.postalcode}})
		</p>
		<div class="text-primary" style='font-weight: bold; font-size: 2rem;'>
			{{ property.price | number_format(0, '{ }', ' ')}}
			€
		</div>
	</div>
	
</div>
